@model ToyBox.Domain.Entities.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.ProductName</h3>
    </div>

    @using (Html.BeginForm("Edit", "Product"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductID)
            @Html.HiddenFor(m => m.PostedDate)

            <div class="form-group">
                <label>Product Title</label>
                @Html.TextBoxFor(a => a.ProductName, new { @class = "form-control", placeholder = "Product Name" }) @Html.ValidationMessageFor(a => a.ProductName)
            </div>
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(a => a.Description, new { @class = "form-control", placeholder = "Description", rows = 5 }) @Html.ValidationMessageFor(a => a.Description)
            </div>
            <div class="form-group">
                <label>Price</label>
                @Html.TextBoxFor(a => a.Price, "{0:#.##}", new { @class = "form-control", placeholder = "Price" }) @Html.ValidationMessageFor(a => a.Price)
            </div>





            <div class="form-group">
                <label>Category</label>
                @Html.DropDownListFor(a => a.CategoryID, new SelectList(ViewBag.datas, "CategoryID", "CategoryName"), "--Select A Category--", new { id = "Categorys", @class = "form-control"}) @Html.ValidationMessageFor(a => a.CategoryID)
            </div>
            <div class="form-group">
                <label>Condition</label>
                @Html.DropDownListFor(a => a.ConditionID, new SelectList(ViewBag.data, "ConditionID", "ConditionName"), "--Select A Condition--", new { id = "Conditions", @class = "form-control" }) @Html.ValidationMessageFor(a => a.ConditionID)
            </div>
            <div class="form-group">
                <label>Brand</label>
                @Html.TextBoxFor(a => a.Brand, new { @class = "form-control", placeholder = "Brand" }) @Html.ValidationMessageFor(a => a.Brand)
            </div>
            <div class="form-group">
                <label>Year product was made</label>
                @Html.TextBoxFor(a => a.YearOfProduct, "{0:#.#}", new { @class = "form-control", placeholder = "Year of product" }) @Html.ValidationMessageFor(a => a.YearOfProduct)
            </div>


            <br /><br />


        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "PostedProducts", null, new { @class = "btn btn-default" })
        </div>

    }
</div>



